<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuchen.academic.dao.MatchesDao">
	
	<resultMap type="com.fuchen.academic.domain.Matches" id="Matches">
		<id property="id" column="id"/>
		<result property="content" column="content"/>
		<result property="attachmentUrl" column="attachmentUrl"/>
		<result property="createTime" column="createTime"/>
		<result property="score1" column="score1"/>
		<result property="score2" column="score2"/>
		<result property="score3" column="score3"/>
		<association property="participant" column="participantId" javaType="com.fuchen.academic.domain.Users">
			<id property="number" column="number"/>
			<result property="name" column="name"/>
		</association>
		<association property="competition" column="competitionId" javaType="com.fuchen.academic.domain.Competition">
			<id property="id" column="cid"/>
			<result property="title" column="title"/>
			<result property="content" column="ccontent"/>
			<result property="startTime" column="startTime"/>
			<result property="endTime" column="endTime"/>
			<result property="enrollStartTime" column="enrollStartTime"/>
			<result property="enrollEndTime" column="enrollEndTime"/>
			<result property="createTime" column="ccreateTime"/>
		</association>
	</resultMap>
	
	<sql id="select_includes">
		m.id,m.content,m.attachmentUrl,m.createTime,p.number,p.name,c.id as cid,c.title,c.content as ccontent,c.startTime,c.endTime,c.createTime as ccreateTime,enrollStartTime,enrollEndTime,score1,score2,score3
	</sql>
	
	<sql id="insert_includes">
		id,participantId,competitionId,content,attachmentUrl
	</sql>
	
	<sql id="join">
		left join competition c on c.id = m.competitionId left join users p on p.number = m.participantId 
	</sql>
	
	<sql id="order">
		order by m.createTime desc
	</sql>
	
	<sql id="dynamicWhere">
		<trim prefix="where" prefixOverrides="and">
			<if test="competitionId!=null and competitionId!=''">
				and c.id=#{competitionId}
			</if>
			<if test="number!= null and number!=''">
				and p.number = #{number}
			</if>
		</trim>
	</sql>
	
	<update id="update">
		update matches
		<trim prefix="set" suffixOverrides="," >
			<if test="score1 != null">
				score1 = #{score1},
			</if>
			<if test="score2 != null">
				score2 = #{score2},
			</if>
			<if test="score3 != null">
				score3 = #{score3}
			</if>
		</trim>
			where id=#{id}
	</update>
	
	<insert id="add">
		insert into matches(<include refid="insert_includes"/>) values(#{id},#{participant.number},#{competition.id},#{content},#{attachmentUrl});
	</insert>
	
	<select id="queryByPage" parameterType="java.util.HashMap" resultMap="Matches" >
		select <include refid="select_includes"/> from matches m <include refid="join"/> <include refid="dynamicWhere"/> <include refid="order"/> limit #{start},#{pageSize} 
	</select>
	
	<select id="count" resultType="int">
		select count(0) from matches m <include refid="join"/> <include refid="dynamicWhere"/>
	</select>
	
	<select id="queryById" resultMap="Matches">
		select <include refid="select_includes"/> from matches m <include refid="join"/> where m.id=#{id} 
	</select>
	
	
	<select id="queryByUC" resultMap="Matches">
		select <include refid="select_includes"/> from matches m <include refid="join"/> <include refid="dynamicWhere"/> 
	</select>
	
	<!-- 查询出用户已经报名但尚未开始的比赛 -->
	<select id="queryByUserEnroll" resultMap="Matches">
		select <include refid="select_includes"/> from matches m <include refid="join"/> 
		where  p.number = #{number} and now() between c.enrollStartTime and c.enrollEndTime
	</select>
	
	<!-- 查询出正在进行中的比赛 -->
	<select id="queryByUserJoin" resultMap="Matches">
		select <include refid="select_includes"/> from matches m <include refid="join"/> 
		where  p.number = #{number} and now() between c.startTime and c.endTime
	</select>
	
	<!-- 查询出用户报名且已经结束的比赛 -->
	<select id="queryByUserHistory" resultMap="Matches">
		select <include refid="select_includes"/> from matches m <include refid="join"/> 
		where  p.number = #{number} and now() > c.endTime
	</select>
	
	
	<select id="queryByCompetition" resultMap="Matches">
		select <include refid="select_includes"/> from matches m <include refid="join"/> <include refid="dynamicWhere"/> 
	</select>
	
	<update id="batchDelete">
	 delete from matches where id in 
		<foreach collection="array" item="ids" open="(" separator="," close=")">
    		#{ids}
    	</foreach>
	</update>
	
</mapper>